body {
  background: rgb(222, 222, 222);
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
}

.card {
  width: 400px;
  padding: 10px;
  background: hsla(0, 0%, 100%, 0.815);
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.308);
  border: 1px solid #dedede;
}

.card p {
  font-size: 18px;
  padding-left: 14px;
}

.card img {
  width: 100%;
}
