h1 {
  color: #ff0000;
  font-size: 16px;
}
p {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

img {
  width: 400px;
}

@media (min-width: 533px) {
  h1 {
    font-size: 26px;
    color: green;
  }
  p {
    font-size: 18px;
    color: black;
  }
  img {
    width: 800px;
  }
}

@media print {
  h1 {
    color: r;
    font-size: 24px;
    text-align: center;
  }

  p {
    color: blue;
    font-size: 16px;
    text-align: center;
  }

  img {
    width: 500px;
    margin: 0 auto;
    display: block;
  }
}
